$family-sans-serif: "Roboto","Helvetica Neue","Segoe UI",Helvetica,Arial,"Lucida Grande",sans-serif !default;

$red: #F44336;
/* $blue: #00AEEF; */
$black-gradient: rgba(33,33,33,0.8);

$text: #4a4a4a;
$primary: #6F6F6F;
$button: 0072C6;
$logo-gradient: $black-gradient;
$radius: 0;